<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">
    <jmxConfigurator/>
    <property name="LOG_LEVEL" value="ERROR"/>
    <property name="USE_LOGSTASH" value="no"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>utf-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <param name="Pattern" value="%date{ISO8601} [%-5level] %logger{10} %msg%n"/>
            </layout>
        </encoder>
    </appender>

    <logger name="vn.vccorp.servicemonitoring" level="${logback.loglevel}"/>
    <!--<logger name="vn.vccorp.servicemonitoring.rest" level="ERROR"/>-->
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.cache" level="ERROR"/>
    <logger name="com.fasterxml.jackson.databind" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.thymeleaf" level="ERROR"/>
    <logger name="springfox.documentation" level="ERROR"/>
    <logger name="org.dozer" level="ERROR"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
